<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">İLETİŞİM</h2><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <a href="mailto:info@ktusec.org" class="page-scroll btn btn-xl" >info@ktusec.org</a>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </section>
