<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">İLETİŞİM</h2>
                    <h3 class="section-subheading text-muted">İletişim kanallarımızdan gelen sorulara elimizden geldiğince erken dönmeye çalışıyoruz.
                         Daha hızlı yanıt almak isterseniz <a href="http://www.facebook.com/ktu.sec">Facebook adresimizden </a>ulaşabilirsiniz.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <a href="mailto:ktusec.club@gmail.com" class="page-scroll btn btn-xl">ktusec.club@gmail.com</a>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </section>
