<!DOCTYPE html>
<html>
<head>
<style>
img {
    width:100%;
}
</style>
</head>
<body>

          <br><center>
               <font size="6" color="00C072"> Sosyal Medyada Biz </font>
          </center><br>
     <br>
     <center>
          <a class="twitter-timeline" data-width="800" data-height="800" data-link-color="#00C072" position="absolute" href="https://twitter.com/KtuSec?ref_src=twsrc%5Etfw">Tweets by KtuSec</a>
      </center>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

     </html>
