<!-- Clients Aside -->

    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Destekleyenler</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a target="_blank" href="http://canyoupwn.me" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/cypm.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a target="_blank" href="http://octosec.net" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/octo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 myclst">
                    <a target="_blank" href="http://sibertakvim.com" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/sibertakvim.png" class="img-responsive img-centered" alt="">
                    </a>
                </div><br><br>
                <div class="col-md-4 col-sm-6 myclcs">
                    <a target="_blank" href="http://cyberstruggle.org" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/cystrgl.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <br><br>
            </div>
        </div>
    </aside>

    <style>
        .myclst {
            width: 260px;
            height:260px;
            margin-bottom: 80px;
            margin-left: 36px;  
        }
        .myclcs {
            margin-left: 390px;
        }
    </style>
