<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">İLETİŞİM</h2>
                    <h3 class="section-subheading text-muted">İletişim kanallarımızdan gelen sorulara elimizden geldiğince erken dönmeye çalışıyoruz. Daha hızlı yanıt almak isterseniz <a href="https://www.facebook.com/">Facebook üzerınden </a>ulaşabilirsiniz.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="https://formspree.io/hello.world@gmail.com" method="POST" novalidate>
                        <div class="row">

                            <div class="col-md-6">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" value="Send" class="btn btn-xl">ktusec.club@gmail.com</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
