<!DOCTYPE html>
<html>

  {% include 2017_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Ktu Sec<br></div>

                     <div class="intro-lead-in"> Karadeniz Technical University Security Club</div>

<!--                    <br><br>
                <a target="_blank" href="https://goo.gl/forms/04oSHaeM1i0EX2ws2" class="page-scroll btn btn-sm">EKİBİMİZDE YER ALMAK İSTER MİSİN?</a> -->
            </div>
        </div>
    </header>
        <div class="myconteiner">
            <div class="intro-text">
                        <center>
                            <div class="intro-lead-in">
                                <p class="mypf">Pwnlydays, 3-4 Kasım tarihlerinde KtuSec ev sahipliğinde <br>Karadeniz Teknik Üniversitesi'nde</p>
                            </div>
                            <a href="https://pwnlydays.canyoupwn.me" target="_blank" class="page-scroll btn btn-sm">Detaylı Bilgi</a>
                            <hr><hr>
                        </center>
            </div>
        </div>
    {% include 2017_data/about.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/intro.html %}
    {% include 2017_data/contact.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>

<style>
    .myconteiner {
        margin-top:10px;
    }
    .mypf {
        font-size: 33px;
        font-weight: 100;
        animation: heeey 1.5s ease-in-out infinite;
        text-align: center;
    }

    @keyframes heeey {
  0% {
    font-weight: 100;
  }
  50% {
    font-weight: 900;
  }
  100% {
    font-weight: 100;
  }
}

</style>
